.programacao{
    background-color:#dfdcbb;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1programacao{
    color:#003a77;
    font-size: 50px;
    height: 100px;
    margin: 0 auto;
}

.pprogramacao{
    width: 750px;
    margin-top: 1.2rem;
}